{% macro runTitle(editor) %}
    <h1 class='Block3' id='editeur_page_html'>
        <a class='Block4' href='#'>{{ editor.getTitle() }}</a>
    </h1>
{% endmacro %}

{% macro runHeader(editor) %}
    {% import 'macro/menu.macro.twig' as macroMenu %}
    <div class='Block6' id='EditorTab'>
        {{ macroMenu.showMenu(editor.getHeaderMenu(), 0) }}
    </div>
{% endmacro %}

{% macro runHome(editor) %}
    <div class='Block9 EditorTabCtn' id='EditorTab0'>
        <h2 class='Block10'>ReadyHTML | Accueil</h2>
        <div class='Block11'>
            <div class='Block12'>
                {{ editor.getHomeDescription()|raw }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro runPage(editor) %}
    {% import 'macro/menu.macro.twig' as macroMenu %}
    <div class='Block9 EditorTabCtn' id='EditorTab1'>
        <div class='Block16'>
            <h2 class='Block10'>ReadyHTML | Page</h2>
            <div class='Block17'>
                <div class='Block18'>Menu</div>
                <div class='Block19'>
                    {{ macroMenu.showAction(editor.getPageMenu(), 0) }}
                </div>
            </div>
        </div>
        <div class='Block13'>
            <div class='Block12'>
                <div class='Block14'>
                    {{ _self.runPageForm(editor) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro runPageMenu(editor) %}
{% endmacro %}

{% macro runPageForm(editor) %}
{% endmacro %}

{% macro runEdition(editor) %}
    <div class='Block9 EditorTabCtn' id='EditorTab2'>
        <div class='Block16'>
            <h2 class='Block10'>ReadyHTML | Edition</h2>
            <div class='Block17'>
                <div class='Block18'>Menu</div>
                {{ _self.runEditionMenu(editor) }}
            </div>
        </div>
        <div class='Block13'>
            <div class='Block12'>
                <div class='Block14'>
                    {{ _self.runEditionForm(editor) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro runEditionMenu(editor) %}
{% endmacro %}

{% macro runEditionForm(editor) %}
{% endmacro %}

{% macro runCode(editor) %}
    <div class='Block9 EditorTabCtn' id='EditorTab3'>
        <div class='Block16'>
            <h2 class='Block10'>ReadyHTML | Code</h2>
            <div class='Block17'>
                <div class='Block18'>Menu</div>
                {{ _self.runCodeMenu(editor) }}
            </div>
        </div>
        <div class='Block13'>
            <div class='Block12'>
                <div class='Block14'>
                    {{ _self.runCodeForm(editor) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro runCodeMenu(editor) %}
{% endmacro %}

{% macro runCodeForm(editor) %}
{% endmacro %}
