{% import 'macro/main.macro.twig' as macroMain %}

{% set pageId = main.getPageId() %}
{% set menuList = main.loadHeaderMenuList() %}
{% set currentMenu = menuList.getMenuByLink(pageId) %}

<!DOCTYPE html>
<html lang="{{ model.pageLanguage }}">
    <head>
        {{ macroMain.runSiteInfo(main) }}
        {{ macroMain.runOpenGraph(main) }}
        {{ macroMain.runGoogleFonts() }}
        {{ macroMain.runFontAwesome() }}
        {{ macroMain.runStyleCss() }}
    </head>
    <body>
        <div class="Html1">
            {{ macroMain.runBackground() }}
            <div class="Html2 HtmlPage">
                {{ macroMain.runHeader(main, menuList, currentMenu) }}
                {{ macroMain.runView(main, currentMenu) }}
                {{ macroMain.runPage(page) }}
            </div>
            <footer class="Footer1">
                {{ macroMain.runFooterTitle() }}
                <div>
                    {{ macroMain.runFooterFacebook() }}
                    {{ macroMain.runFooterSkype() }}
                    {{ macroMain.runFooterLinkedIn() }}
                    {{ macroMain.runFooterGithub() }}
                </div>
                <div>
                    {{ macroMain.runFooterCopyright(main) }}
                </div>
            </footer>
        </div>
        {{ macroMain.runScriptJs() }}
    </body>
</html>
