{% macro runEditorTitle(page) %}
    <h1 class='Block3' id='editeur_page_html'>
        <a class='Block4' href='#'>{{ page.getEditorTitle() }}</a>
    </h1>
{% endmacro %}

{% macro runEditorTab(page) %}
    <div class='Block6' id='EditorTab'>
        {{ _self.runMenuBar(page) }}
    </div>
{% endmacro %}

{% macro runMenuBar(page) %}
    {{ _self.showMenuBar(page.getModuleMenuActionList(), 0) }}
{% endmacro %}

{% macro showMenuBar(menuList, parentIndex) %}
    {% set menuListI = menuList.getMenuListByParentIndex(parentIndex) %}
    {% for menuI in menuListI.getMenuList() %}
        {% set menuListJ = menuList.getMenuListByParentIndex(menuI.index) %}
        {% if parentIndex == 0 %}
            <div class='Block26'>
                <button class='Block29'>{{ menuI.title }}</button>
                <div class='Block27'>
                    {{ _self.showMenuBar(menuList, menuI.index) }}
                </div>
            </div>
        {% elseif menuListJ.isEmpty() == false %}
            <div class='Block31'>
                <div class='Block28'>{{ menuI.title }} <i class='Block25 fa fa-caret-down'></i></div>
                <div class='Block30'>
                    {{ _self.showMenuBar(menuList, menuI.index) }}
                </div>
            </div>
        {% else %}
            <div class='Block32' onclick='callBackend("{{ menuI.module }}", "{{ menuI.method }}", this, "{{ menuI.data }}")'>{{ menuI.title }}</div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro runEditorHome(page) %}
    runEditorHome
{% endmacro %}

{% macro runEditorPage(page) %}
    runEditorPage
{% endmacro %}

{% macro runEditorCode(page) %}
    runEditorCode
{% endmacro %}
