{% macro runSiteInfo(main) %}
    <title>{{ main.getPageTitle() }}</title>
    <meta charset="{{ main.getPageEncoding() }}" />
    <link rel="shortcut icon" type="{{ main.getPageLogoMimeType() }}" href="{{ main.getPageLogo() }}"/>
    <meta name="description" content="{{ main.getPageDescription() }}" />
{% endmacro %}

{% macro runOpenGraph(main) %}
    <meta property="og:type" content="{{ main.getOpenGraphType() }}" />
    <meta property="og:image" content="{{ main.getOpenGraphImage() }}" />
    <meta property="og:image:secure_url" content="{{ main.getOpenGraphImageSecureUrl() }}"/>
    <meta property="og:image:type" content="{{ main.getOpenGraphImageType() }}"/>
    <meta property="og:image:width" content="{{ main.getOpenGraphImageWidth() }}"/>
    <meta property="og:image:height" content="{{ main.getOpenGraphImageHeight() }}"/>
    <meta property="og:locale" content="{{ main.getOpenGraphLocale() }}" />
    <meta property="og:url" content="{{ main.getOpenGraphUrl() }}" />
    <meta property="og:title" content="{{ main.getOpenGraphTitle() }}" />
    <meta property="og:site_name" content="{{ main.getOpenGraphSiteName() }}" />
    <meta property="og:description" content="{{ main.getOpenGraphDescription() }}"/>
{% endmacro %}

{% macro runGoogleFonts() %}
    <link rel="stylesheet" href="/libs/google-fonts/Aclonica/css.css" />
    <link rel="stylesheet" href="/libs/google-fonts/Akronim/css.css" />
    <link rel="stylesheet" href="/libs/google-fonts/Allan/css.css" />
    <link rel="stylesheet" href="/libs/google-fonts/Archivo_Narrow/css.css"/>
    <link rel="stylesheet" href="/libs/google-fonts/Anton/css.css" />
    <link rel="stylesheet" href="/libs/google-fonts/Aclonica/css.css" />
{% endmacro %}

{% macro runFontAwesome() %}
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css" />
{% endmacro %}

{% macro runStyleCss() %}
    <link rel="stylesheet" href="/public/css/styles.css" />
{% endmacro %}

{% macro runBackground() %}
    <div class="Background1"></div>
    <div class="Background2"></div>
    <div class="Background3"></div>
{% endmacro %}

{% macro runHeader(main, menuList, currentMenu) %}
    <header class="Menu1" id="HeaderMenu">
        <a class="Menu3" href="{{ main.homePage }}">
            <img class="Menu4" src="{{ main.pageLogo }}" alt="logo.png"/>
            <span class="Menu5">{{ main.siteName }}</span>
        </a>
        {{ _self.runHeaderMenu(menuList, currentMenu, 0) }}
        <div class="Bars1" onclick="call_server('app', 'open_menu_bars', this)">
            <i class="fa fa-bars"></i>
        </div>
    </header>
{% endmacro %}

{% macro runHeaderMenu(menuList, currentMenu, parentIndex) %}
    {% set menuListI = menuList.getMenuListByParentIndex(parentIndex) %}
    {% for menuI in menuListI.getMenuList() %}
        {% if menuI.isActive %}
            {% set menuListJ = menuList.getMenuListByParentIndex(menuI.index) %}
            {% set activeClass = '' %}
            {% set isActive = false %}
            {% set isActive = (isActive or menuI.isEqual(currentMenu)) %}
            {% set isActive = (isActive or ((menuI.name == currentMenu.name) and (menuI.parentIndex ==0))) %}
            {% if isActive %}
                {% set activeClass = ' Active' %}
            {% endif %}
            {% if menuListJ.isEmpty() %}
                {% if menuI.parentIndex == 0 %}
                    <a class='Menu2{{ activeClass }}' href='{{ menuI.link }}'><div class='Menu14'>{{ menuI.label }}</div></a>
                {% else %}
                    <a class='Menu10' href='{{ menuI.link }}'><div class='Menu8{{ activeClass }}'>{{ menuI.label }}</div></a>
                {% endif %}
            {% else %}
                {% if menuI.parentIndex == 0 %}
                    <div class='Menu6'><a class='Menu2{{ activeClass }}' href='{{ menuI.link }}' onclick='return call_server("app", "open_menu_group", this)'><div class='Menu14'>{{ menuI.label }}</div><i class='Menu13 fa fa-caret-down'></i></a>
                {% else %}
                    <div class='Menu9'><div class='Menu12'><div class='Menu8'>{{ menuI.label }} <i class='Menu15 fa fa-caret-down'></i></div></div>
                {% endif %}

                {% if menuI.parentIndex == 0 %}
                    <div class='Menu7'><a class='Menu16' href='{{ menuI.link }}'><div class='Menu8'>{{ menuI.label }}</div></a>
                {% else %}
                    <div class='Menu11'>
                    {% endif %}
                    {{ _self.runHeaderSubMenu(menuList, currentMenu, menuI.index) }}
                </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro runHeaderSubMenu(menuList, currentMenu, parentIndex) %}
    {% set menuListI = menuList.getMenuListByParentIndex(parentIndex) %}
    {% for menuI in menuListI.getMenuList() %}
        {% if menuI.isActive %}
            {% set menuListJ = menuList.getMenuListByParentIndex(menuI.index) %}
            {% set activeClass = '' %}
            {% set isActive = false %}
            {% set isActive = (isActive or menuI.isEqual(currentMenu)) %}
            {% set isActive = (isActive or ((menuI.name == currentMenu.name) and (menuI.parentIndex ==0))) %}
            {% if isActive %}
                {% set activeClass = ' Active' %}
            {% endif %}

            {% if menuListJ.isEmpty() %}
                {% if menuI.parentIndex == 0 %}
                    <a class='Menu2{{ activeClass }}' href='{{ menuI.link }}'><div class='Menu14'>{{ menuI.label }}</div></a>
                {% else %}
                    <a class='Menu10' href='{{ menuI.link }}'><div class='Menu8{{ activeClass }}'>{{ menuI.label }}</div></a>
                {% endif %}
            {% else %}
                {% if menuI.parentIndex == 0 %}
                    <div class='Menu6'><a class='Menu2{{ activeClass }}' href='{{ menuI.link }}' onclick='return call_server("app", "open_menu_group", this)'><div class='Menu14'>{{ menuI.label }}</div><i class='Menu13 fa fa-caret-down'></i></a>
                {% else %}
                    <div class='Menu9'><div class='Menu12'><div class='Menu8'>{{ menuI.label }} <i class='Menu15 fa fa-caret-down'></i></div></div>
                {% endif %}

                {% if menuI.parentIndex == 0 %}
                    <div class='Menu7'><a class='Menu16' href='{{ menuI.link }}'><div class='Menu8'>{{ menuI.label }}</div></a>
                {% else %}
                    <div class='Menu11'>
                    {% endif %}
                    {{ _self.runHeaderSubMenu(menuList, currentMenu, menuI.index) }}
                </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro runView(main, currentMenu) %}
    <div class="View1">
        <h1 class="View2">{{ currentMenu.title }}</h1>
        <div class="View3">
            <div>
                <div class="View4">
                    <div class="View6">
                        <i class="fa fa-eye"></i> Vues
                    </div>
                    <div class="View7">{{ main.getViewCount() }}</div>
                </div>
            </div>
            <div>
                <a href="{{ main.getFacebookShareUrl() }}" target="_blank"><i class="View5 Facebook fa fa-facebook"></i></a>
                <a href="{{ main.getLinkedInShareUrl() }}" target="_blank"><i class="View5 Linkedin fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro runPage(page) %}
    {% include page.getTemplateFile() %}
{% endmacro %}

{% macro runFooterTitle() %}
    <div>Réseaux Sociaux - Réjoignez-nous</div>
{% endmacro %}

{% macro runFooterFacebook() %}
    <a href="#">
        <i class="Footer2 fa fa-facebook"></i>
    </a>
{% endmacro %}

{% macro runFooterSkype() %}
    <a href="#">
        <i class="Footer2 fa fa-skype"></i>
    </a>
{% endmacro %}

{% macro runFooterLinkedIn() %}
    <a href="https://www.linkedin.com/in/tia-gerard-kesse/" target="_blank">
        <i class="Footer2 fa fa-linkedin"></i>
    </a>
{% endmacro %}
²
{% macro runFooterGithub() %}
    <a href="https://github.com/gkesse/" target="_blank">
        <i class="Footer2 fa fa-github"></i>
    </a>
{% endmacro %}

{% macro runFooterCopyright(main) %}
    <i class="fa fa-copyright"></i>
    <span>{{ main.getSiteStartYear() }} - {{ main.getCurrentYear() }} | {{ main.getSiteName() }}</span>
    <div>{{ main.getSiteVision()|raw }}</div>
{% endmacro %}

{% macro runScriptJs() %}
    <script src="/public/js/app/view/Main.js"></script>
    <script src="/public/js/scripts.js"></script>
{% endmacro %}
